---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import arrow from "/images/arrow.svg";

export interface Props {
	content: {
		title: string;
		description: string;
		pubDate?: string;
		updatedDate?: string;
		heroImage?: string;
		categories?: string[];
	};
}

const {
	content: {
		title,
		categories,
		description,
		pubDate,
		updatedDate,
		heroImage,
	},
} = Astro.props as Props;
---

<html>
	<head>
		<BaseHead title={title} description={description} />
	</head>
	<body>
		<Header />
		<main>
			<header class="bg-purple-800 py-36 rounded-b-lg">
				<div
					class="max-w-4xl px-5 md:px-0 container flex gap-x-10 flex-col md:flex-row content-center"
				>
					<a href="/">
						<img
							loading="lazy"
							src={arrow}
							class="bg-purple-50 bg-opacity-20 hover:bg-opacity-60 -mt-1 p-2 rounded-full hidden lg:block"
							height={60}
							width={60}
							alt="arrow"
						/>
					</a>
					<div class="flex flex-col">
						<div>
							{
								categories?.map((category) => (
									<span class="text-white border-white border py-1.5 px-4 uppercase text-sm rounded-l-md">
										{category}
									</span>
								))
							}
							{
								pubDate && (
									<time class="border-white border uppercase text-sm bg-white text-purple-900 py-1.5 px-4 rounded-r-md">
										{pubDate}
									</time>
								)
							}
						</div>
						<h1
							class="pt-10 pb-6 md:text-5xl text-2xl font-bold text-white"
						>
							{title}
						</h1>
						<p class="text-white text-opacity-80">{description}</p>
					</div>
				</div>
			</header>
			<div
				class="prose prose-img:max-h-96 prose-img:mx-auto contianer mx-auto px-5 md:px-0"
			>
				<slot />
			</div>
		</main>
		<Footer />
	</body>
</html>
